In [22]:
import pandas as pd
from sqlalchemy import Table,MetaData,text,create_engine,Column,Numeric,Integer,VARCHAR

In [9]:
#create engine- username:password@hostname:port/database_name
engine=create_engine("mysql://root:5122@localhost:3306/schools")

In [16]:
# initialize the Metadata Object
meta = sqlalchemy.MetaData(bind=engine)
sqlalchemy.MetaData.reflect(meta)

In [26]:
#create a table in a db

#variable=table('tablename',meta,
#                Column('column_name', datatype, parameters),
#                Column('column_name', 'datatype')
#               )
# meta.create_all(engine)

books=Table('books',meta,
    Column('book_id',Integer,primary_key=True),
    Column('book_name',VARCHAR(20)),
    Column('genre',VARCHAR(10)),
    Column('book_price',Numeric))

meta.create_all(engine)

In [31]:
#alter table structure(modify column)
statement=text("ALTER TABLE BOOKS MODIFY book_name VARCHAR(30);")
engine.execute(statement)

In [33]:
#alter table structure (add column)
statement=text('ALTER TABLE BOOKS ADD store VARCHAR(10);')
engine.execute(statement)

In [34]:
#alter table structure (drop column)
statement =text('ALTER TABLE BOOKS DROP store;')
engine.execute(statement)

In [29]:
# insert records

#create the data dictionary to be inserted
data= ({'book_id':1,'book_name':'48 laws of power','genre':'self-help','book_price':500},
      {'book_id':2,'book_name':'Richest man in B','genre':'self-help','book_price':500},
      {'book_id':3,'book_name':'Think and grow Rich','genre':'self-help','book_price':500})

#insert statement
statement = text("""INSERT INTO BOOKS (book_id,book_name,genre,book_price)VALUES(:book_id,:book_name,:genre,:book_price)""")

#execute the statements line by line
for line in data:
    engine.execute(statement,**line)

In [30]:
#read data from sql table to dataframe
data=text("SELECT * FROM books;")
results=engine.execute(data)
results=pd.DataFrame(results)
results

   book_id            book_name      genre book_price
0        1     48 laws of power  self-help        500
1        2     Richest man in B  self-help        500
2        3  Think and grow Rich  self-help        500

In [36]:
#modify data in a table
statement=text('UPDATE books SET book_name="The Richest Man in Babylon" WHERE book_id=1;')
engine.execute(statement)

In [37]:
#delete data in table
statement=text('DELETE FROM books WHERE book_id=2;')
engine.execute(statement)

In [38]:
#drop table
statement=text('DROP TABLE books;')
engine.execute(statement)

In [ ]:
#joins